.form-wrapper {
  counter-reset: section;

  legend.title,
  label.title {
    font-size: 16px;
    font-weight: bold;

    &:before {
      counter-increment: section;
      content: counter(section) '. ';
    }
  }

  fieldset .option input:checked + div {
    background: #edf2f7;
    border-color: #9dbbec;
  }

  fieldset .option input + div {
    margin-top: 16px;
    border: 2px solid #ccc;
    padding: 16px;
    border-radius: 6px;
    transition: border-color 200ms ease-in-out;

    &:hover {
      border-color: #888;
    }

    p {
      font-size: 14px;
      margin: 0.75rem 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    h5 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      font-weight: bold;
      margin: 0;
    }

    .price {
      font-size: 13px;
      background: #3961a2;
      color: #fff;
      padding: 3px 6px;
      font-weight: normal;
      border-radius: 3px;

      &.no-cost {
        background: #e4e4e4;
        color: #a9a9a9;
      }
    }

    .with-thumb {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: 100px 1fr;

      img {
        width: 100%;
        border-radius: 4px;
      }
    }
  }
}
