.form-wrapper {
  legend.title,
  label.title {
    font-size: 16px;
    font-weight: bold;
  }

  fieldset .option input + div {
    margin-top: 16px;
    border: 2px solid #ccc;
    padding: 16px;
    border-radius: 6px;
  }

  fieldset .option input:checked + div {
    background: #edf2f7;
    border-color: #9dbbec;
  }

  fieldset .option input:checked + div {
    background: #edf2f7;
    border-color: #9dbbec;
  }

  fieldset .option input + div p:last-child {
    margin-bottom: 0;
  }

  fieldset .option input + div.with-thumb {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 100px;
    align-items: center;
  }

  fieldset .option input + div.with-thumb img {
    width: 100%;
    border-radius: 4px;
  }
}
